Package: linux-libc-dev
Source: linux-upstream
Version: 5.15.67proj1-ta1-1
Architecture: arm64
Maintainer: root <root@debian-arm64>
Installed-Size: 6110
Provides: linux-kernel-headers
Section: devel
Priority: optional
Multi-Arch: same
Homepage: https://www.kernel.org/
Description: Linux support headers for userspace development
 This package provides userspaces headers from the Linux kernel.  These headers
 are used by the installed headers for GNU glibc and other system libraries.
